<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Teachers</title>
</head>

<body>

    <h1>All Teachers</h1>

    <table border="1">
        <thead>
            <th>No</th>
            <th>Teacher Name</th>
            <th>Student Name</th>
        </thead>

        <tbody>
            <% teachers.forEach((el,idx) => { %>
            <% el.Users.forEach(el2 => { %>
            <tr>
                <td><%= idx+1 %> </td>
                <td><%= el.fullName %> </td>
                <td><%= el2.username %> </td>
            </tr>
            <% }) %>

            <% }) %>
        </tbody>
    </table>

</body>

</html>