<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
</head>

<body class="header">

    <h1>Teacher Registration</h1>

    <% if (error) { %>
    <ul class="red-color">
        <% error.forEach(el => { %>
        <li><%= el %> </li>
        <% }) %>
    </ul>
    <% } %>

    <form action="/registerTeacher" method="post">
        <label>username</label>
        <input type="text" name="user"><br>
        <label>password</label>
        <input type="password" name="pass"><br>
        <label>Email</label>
        <input type="text" name="email"><br>
        <label>Full Name</label>
        <input type="text" name="fullName"><br>
        <label>Phone Number</label>
        <input type="text" name="phoneNumber"><br>

        <label>Field</label>
        <select name="field" id="field">
            <option disabled selected value="not">--Choose--</option>
            <option value="Matematika">Matematika</option>
            <option value="Fisika">Fisika</option>
            <option value="Kimia">Kimia</option>
            <option value="Biologi">Biologi</option>
        </select><br>

        <label>Experience (year)</label>
        <input type="number" name="yearOfExperience">
        <br>
        <label>Fee/meeting (rupiah)</label>
        <input type="number" name="fee"><br>

        <input class="button" type="submit" value="Register">
    </form>
</body>

</html>