<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
</head>

<body>

    <h1 class="main-header">Student Registration</h1>


    <% if (error) { %>
    <ul class="red-color">
        <% error.forEach(el => { %>
        <li><%= el %> </li>
        <% }) %>
    </ul>
    <% } %>

    <form action="/registerStudent" method="post">
        <label>username</label>
        <input type="text" name="user"><br>
        <label>password</label>
        <input type="password" name="pass"><br>
        <label>Email</label>
        <input type="text" name="email"><br>
        <label>Nama Lengkap</label>
        <input type="text" name="fullName"><br>
        <label>Phone Number</label>
        <input type="text" name="phoneNumber"><br>

        <input class="button" type="submit" value="Register">
    </form>
</body>

</html>