<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
</head>

<body>
    <form action="/registerTeacher" method="post">
        <label>username</label>
        <input type="text" name="user"><br>
        <label>password</label>
        <input type="password" name="pass"><br>
        <label>Email</label>
        <input type="text" name="email"><br>
        <label>Nama Lengkap</label>
        <input type="text" name="fullName"><br>
        <label>Phone Number</label>
        <input type="text" name="phoneNumber"><br>
        <label>Bidang</label>
        <input type="text" name="field"><br>
        <label>Pengalaman</label>
        <input type="number" name="yearOfExperience">
        <label>Tahun</label><br>
        <label>Biaya/Pertemuan</label>
        <input type="number" name="fee"><br>
        <input type="submit" value="Register">
    </form>
</body>

</html>