<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Document</title>
</head>

<body>

    <h1 class="main-header">Registration</h1>

    <div class="flex-row">
        <a class="button" href="/registerStudent">Register as Student</a>
        <a class="button" href="/registerTeacher">Register as Teacher</a>
    </div>
    <!-- <form action="/register" method="post">
        <label>username</label>
        <input type="text" name="user"><br>
        <label>password</label>
        <input type="password" name="pass"><br>
        <select name="role">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
        <input type="submit" value="Register">
    </form> -->
</body>

</html>