body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom,
            rgba(111, 170, 213, 0.803),
            rgba(59, 40, 180, 0.78)),
        url('https: //images.unsplash.com/photo-1608600712992-03e5325d94c8?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469');
    background-size: cover;
    background-position: top;
}

.button,
.select {
    padding: 16px;
    font-size: 16px;
    color: white;
    background-color: rgb(2, 175, 175);
    text-decoration: none;
    margin-bottom: 15px;
    border-radius: 15px;
    border-width: 0;
    margin-top: 5px;
    /* text-align: center; */
}

.button:hover {
    background-color: black;
    color: rgb(2, 175, 175);
}

.button--active,
.button.button--active:hover {
    background-color: purple;
    color: white;
}


.button.button--yellow {
    color: black;
    background-color: yellow;
}

.button.button--red {
    color: white;
    background-color: red;
}

.button.button--red:hover {
    color: rgb(240, 207, 207);
    background-color: rgb(21, 85, 188);

}

.main-header {
    background-color: rgb(126, 126, 227);
    padding: 12px;
}

table {
    border-collapse: collapse;
    font-size: 16px;
}

table td,
table th {
    border: 1px solid black;
    padding: 22px;
}


.red-color {
    color: red;
}

.info {
    display: flex;
    flex-direction: row;
}

li {
    margin-bottom: 9px;
    margin-top: 9px;
}

.description {
    white-space: pre-line;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form.search-bar {
    display: inline;
}

.search-bar {
    margin-top: 25px;
    margin-bottom: 25px;
}

.box {
    display: inline;
    width: 500px;
    height: 40px;
    margin-right: 6px;
}

.margin-top {
    margin-top: 35px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-right {
    margin-right: 15px;
}

.warning {
    font-size: 20px;
}

.red-color {
    color: red;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 22px;
}